.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
}

.button {
  float: right;
  background-color: white;
  border: 1px solid blue;
  border-radius: 5px;
  height: 30px;
  width: 70px;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}